@mixin set-background-images( $breakpoint-list, $id ) {

  @each $breakpoint in $breakpoint-list {

    $key: nth($breakpoint, 1);

    &.#{$key} {

      background-image: url('../img/#{$id}/#{$key}.jpg');
    }
  }
}

.background-image {

  $breakpoint-list:
   "small"      700px,
   "medium"     1400px,
   "large"      1800px
  ;

  $id: 'background-image';

  @include breakpoint-bridge( $breakpoint-list, $id );

  @include set-background-images( $breakpoint-list, $id );
}