.article {

  img {
    width: 100%;
    height: auto;
  }

  $breakpoint-list:
       "article-small"  800px,
      "article-medium"  1100px,
       "article-large"  1500px,
    "article-infinite"  99999px
  ;

  @include breakpoint-bridge( $breakpoint-list, 'article' );
}