@mixin set-background-images( $breakpoint-list ) {

  @each $breakpoint in $breakpoint-list {

    $idx: index($breakpoint-list, $breakpoint);
    $key: nth($breakpoint, 1);
    $val: nth($breakpoint, 2);

    // @debug $breakpoint;
    // @debug $idx;
    // @debug $key;
    // @debug $val;

    &.#{$key} {

      background-image: url('/img/#{$key}.jpg');
    }
  }
}

@mixin set-background-colors( $breakpoint-list ) {

  @each $breakpoint in $breakpoint-list {

    &.#{nth($breakpoint, 1)} {

      background-color: rgb(random(255), random(255), random(255));
    }
  }
}

html {

  height: 100%;
}

body {

  font-family: Helvetica, sans-serif;
  font-weight: bold;
  color: #333333;
  padding: 0;
  margin: 0;
  height: 100%;

  $breakpoint-list:
    "xxxx-small-body"   400px,    //    0px   <--    400px
     "xxx-small-body"   500px,    //  401px   <-->   500px
      "xx-small-body"   600px,    //  501px   <-->   600px
       "x-small-body"   700px,    //  601px   <-->   700px
         "small-body"   800px,    //  701px   <-->   800px
        "medium-body"   1100px,   //  801px   <-->   1100px
         "large-body"   1400px,   // 1101px   <-->   1400px
       "x-large-body"   1600px,   // 1401px   <-->   1600px
      "infinite-body"   99999px   // 1601px    -->   99999px
  ;

  @include breakpoint-bridge( $breakpoint-list, 'body' );
  @include set-background-colors( $breakpoint-list );
}

.header {
  box-sizing: border-box;
  position: absolute;
  top: 5%;
  bottom: 80%;
  margin-top: 2.5%;
  margin-bottom: 2.5%;
  width: 100%;
  height: 10%;

  $breakpoint-list:
     "x-small-header"   600px,
       "small-header"   900px,
      "medium-header"   1100px,
       "large-header"   1300px,
     "x-large-header"   1600px,
    "infinite-header"   99999px
  ;

  @include breakpoint-bridge( $breakpoint-list, 'header' );
  @include set-background-colors( $breakpoint-list );
}

.aside {
  box-sizing: border-box;
  position: absolute;
  top: 10%;
  bottom: 50%;
  margin-top: 5%;
  margin-bottom: 5%;
  width: 50%;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;

  $breakpoint-list:
       "aside-small"   700px,
      "aside-medium"   1400px,
       "aside-large"   1800px,
    "aside-infinite"   99999px
  ;

  @include breakpoint-bridge( $breakpoint-list, 'aside' );

  @include set-background-images( $breakpoint-list );
}

.article {

  box-sizing: border-box;
  position: absolute;
  top: 10%;
  bottom: 0;
  margin-top: 5%;
  margin-bottom: 5%;
  width: 50%;
  margin-left: 50%;

  $breakpoint-list:
     "x-small-article"   800px,
       "small-article"   1000px,
      "medium-article"   1200px,
       "large-article"   1400px,
     "x-large-article"   1600px,
    "infinite-article"   99999px
  ;

  @include breakpoint-bridge( $breakpoint-list, 'article' );
  @include set-background-colors( $breakpoint-list );

  .process {
    $breakpoint-list:
      "disable-process"   500px,
       "enable-process"   99999px
    ;

    @include breakpoint-bridge( $breakpoint-list, 'process' );
  }
}

.debug {
  box-sizing: border-box;
  position: absolute;
  border: 1px solid grey;
  background: lightgrey;
  margin: 10px;
  padding: 10px;
}