@mixin set-background-images( $breakpoint-list ) {

  @each $breakpoint in $breakpoint-list {

    $key: nth($breakpoint, 1);

    &.#{$key} {

      background-image: url('/img/#{$key}.jpg');
    }
  }
}

.aside {

  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;

  $breakpoint-list:
       "aside-small"   700px,
      "aside-medium"   1400px,
       "aside-large"   1800px,
    "aside-infinite"   99999px
  ;

  @include breakpoint-bridge( $breakpoint-list, 'aside' );

  @include set-background-images( $breakpoint-list );
}