/* line 1, ../source/js-breakpoints/_breakpoints.scss */
html:after {
  content: "js-breakpoints-getComputedStyleTest";
  display: none;
}

/* line 12, _demo-styles.scss */
html {
  height: 100%;
}

/* line 17, _demo-styles.scss */
body {
  font-family: Helvetica, sans-serif;
  font-weight: bold;
  color: #333333;
  padding: 0;
  margin: 0;
  height: 100%;
}
@media (max-width: 400px) {
  /* line 9, ../source/js-breakpoints/_breakpoints.scss */
  body:after {
    content: "xxxx-small-body";
    display: none;
  }
  /* line 15, ../source/js-breakpoints/_breakpoints.scss */
  body .js-breakpoints-xxxx-small-body {
    position: absolute;
  }
}
@media (min-width: 401px) and (max-width: 500px) {
  /* line 9, ../source/js-breakpoints/_breakpoints.scss */
  body:after {
    content: "xxx-small-body";
    display: none;
  }
  /* line 15, ../source/js-breakpoints/_breakpoints.scss */
  body .js-breakpoints-xxx-small-body {
    position: absolute;
  }
}
@media (min-width: 501px) and (max-width: 600px) {
  /* line 9, ../source/js-breakpoints/_breakpoints.scss */
  body:after {
    content: "xx-small-body";
    display: none;
  }
  /* line 15, ../source/js-breakpoints/_breakpoints.scss */
  body .js-breakpoints-xx-small-body {
    position: absolute;
  }
}
@media (min-width: 601px) and (max-width: 700px) {
  /* line 9, ../source/js-breakpoints/_breakpoints.scss */
  body:after {
    content: "x-small-body";
    display: none;
  }
  /* line 15, ../source/js-breakpoints/_breakpoints.scss */
  body .js-breakpoints-x-small-body {
    position: absolute;
  }
}
@media (min-width: 701px) and (max-width: 800px) {
  /* line 9, ../source/js-breakpoints/_breakpoints.scss */
  body:after {
    content: "small-body";
    display: none;
  }
  /* line 15, ../source/js-breakpoints/_breakpoints.scss */
  body .js-breakpoints-small-body {
    position: absolute;
  }
}
@media (min-width: 801px) and (max-width: 1100px) {
  /* line 9, ../source/js-breakpoints/_breakpoints.scss */
  body:after {
    content: "medium-body";
    display: none;
  }
  /* line 15, ../source/js-breakpoints/_breakpoints.scss */
  body .js-breakpoints-medium-body {
    position: absolute;
  }
}
@media (min-width: 1101px) and (max-width: 1400px) {
  /* line 9, ../source/js-breakpoints/_breakpoints.scss */
  body:after {
    content: "large-body";
    display: none;
  }
  /* line 15, ../source/js-breakpoints/_breakpoints.scss */
  body .js-breakpoints-large-body {
    position: absolute;
  }
}
@media (min-width: 1401px) and (max-width: 1800px) {
  /* line 9, ../source/js-breakpoints/_breakpoints.scss */
  body:after {
    content: "x-large-body";
    display: none;
  }
  /* line 15, ../source/js-breakpoints/_breakpoints.scss */
  body .js-breakpoints-x-large-body {
    position: absolute;
  }
}
@media (min-width: 1801px) and (max-width: 99999px) {
  /* line 9, ../source/js-breakpoints/_breakpoints.scss */
  body:after {
    content: "xx-large-body";
    display: none;
  }
  /* line 15, ../source/js-breakpoints/_breakpoints.scss */
  body .js-breakpoints-xx-large-body {
    position: absolute;
  }
}
/* line 5, _demo-styles.scss */
body.xxxx-small-body {
  background-color: #1333a1;
}
/* line 5, _demo-styles.scss */
body.xxx-small-body {
  background-color: #4ac155;
}
/* line 5, _demo-styles.scss */
body.xx-small-body {
  background-color: #630a8a;
}
/* line 5, _demo-styles.scss */
body.x-small-body {
  background-color: #5363a8;
}
/* line 5, _demo-styles.scss */
body.small-body {
  background-color: #bceb01;
}
/* line 5, _demo-styles.scss */
body.medium-body {
  background-color: #8a899e;
}
/* line 5, _demo-styles.scss */
body.large-body {
  background-color: #4861ef;
}
/* line 5, _demo-styles.scss */
body.x-large-body {
  background-color: #87ef82;
}
/* line 5, _demo-styles.scss */
body.xx-large-body {
  background-color: #7572c0;
}

/* line 42, _demo-styles.scss */
.header {
  box-sizing: border-box;
  position: absolute;
  top: 5%;
  bottom: 80%;
  margin-top: 2.5%;
  margin-bottom: 2.5%;
  width: 100%;
  height: 10%;
}
@media (max-width: 600px) {
  /* line 9, ../source/js-breakpoints/_breakpoints.scss */
  .header:after {
    content: "x-small-header";
    display: none;
  }
  /* line 15, ../source/js-breakpoints/_breakpoints.scss */
  .header .js-breakpoints-x-small-header {
    position: absolute;
  }
}
@media (min-width: 601px) and (max-width: 900px) {
  /* line 9, ../source/js-breakpoints/_breakpoints.scss */
  .header:after {
    content: "small-header";
    display: none;
  }
  /* line 15, ../source/js-breakpoints/_breakpoints.scss */
  .header .js-breakpoints-small-header {
    position: absolute;
  }
}
@media (min-width: 901px) and (max-width: 1100px) {
  /* line 9, ../source/js-breakpoints/_breakpoints.scss */
  .header:after {
    content: "medium-header";
    display: none;
  }
  /* line 15, ../source/js-breakpoints/_breakpoints.scss */
  .header .js-breakpoints-medium-header {
    position: absolute;
  }
}
@media (min-width: 1101px) and (max-width: 1300px) {
  /* line 9, ../source/js-breakpoints/_breakpoints.scss */
  .header:after {
    content: "large-header";
    display: none;
  }
  /* line 15, ../source/js-breakpoints/_breakpoints.scss */
  .header .js-breakpoints-large-header {
    position: absolute;
  }
}
@media (min-width: 1301px) and (max-width: 1600px) {
  /* line 9, ../source/js-breakpoints/_breakpoints.scss */
  .header:after {
    content: "x-large-header";
    display: none;
  }
  /* line 15, ../source/js-breakpoints/_breakpoints.scss */
  .header .js-breakpoints-x-large-header {
    position: absolute;
  }
}
@media (min-width: 1601px) and (max-width: 99999px) {
  /* line 9, ../source/js-breakpoints/_breakpoints.scss */
  .header:after {
    content: "xx-large-header";
    display: none;
  }
  /* line 15, ../source/js-breakpoints/_breakpoints.scss */
  .header .js-breakpoints-xx-large-header {
    position: absolute;
  }
}
/* line 5, _demo-styles.scss */
.header.x-small-header {
  background-color: #9a0635;
}
/* line 5, _demo-styles.scss */
.header.small-header {
  background-color: #eab307;
}
/* line 5, _demo-styles.scss */
.header.medium-header {
  background-color: #50a232;
}
/* line 5, _demo-styles.scss */
.header.large-header {
  background-color: #199401;
}
/* line 5, _demo-styles.scss */
.header.x-large-header {
  background-color: #36ba2a;
}
/* line 5, _demo-styles.scss */
.header.xx-large-header {
  background-color: #fc1901;
}

/* line 65, _demo-styles.scss */
.aside {
  box-sizing: border-box;
  position: absolute;
  top: 10%;
  bottom: 50%;
  margin-top: 5%;
  margin-bottom: 5%;
  width: 50%;
}
@media (max-width: 400px) {
  /* line 9, ../source/js-breakpoints/_breakpoints.scss */
  .aside:after {
    content: "x-small-aside";
    display: none;
  }
  /* line 15, ../source/js-breakpoints/_breakpoints.scss */
  .aside .js-breakpoints-x-small-aside {
    position: absolute;
  }
}
@media (min-width: 401px) and (max-width: 600px) {
  /* line 9, ../source/js-breakpoints/_breakpoints.scss */
  .aside:after {
    content: "small-aside";
    display: none;
  }
  /* line 15, ../source/js-breakpoints/_breakpoints.scss */
  .aside .js-breakpoints-small-aside {
    position: absolute;
  }
}
@media (min-width: 601px) and (max-width: 800px) {
  /* line 9, ../source/js-breakpoints/_breakpoints.scss */
  .aside:after {
    content: "medium-aside";
    display: none;
  }
  /* line 15, ../source/js-breakpoints/_breakpoints.scss */
  .aside .js-breakpoints-medium-aside {
    position: absolute;
  }
}
@media (min-width: 801px) and (max-width: 1000px) {
  /* line 9, ../source/js-breakpoints/_breakpoints.scss */
  .aside:after {
    content: "large-aside";
    display: none;
  }
  /* line 15, ../source/js-breakpoints/_breakpoints.scss */
  .aside .js-breakpoints-large-aside {
    position: absolute;
  }
}
@media (min-width: 1001px) and (max-width: 1200px) {
  /* line 9, ../source/js-breakpoints/_breakpoints.scss */
  .aside:after {
    content: "x-large-aside";
    display: none;
  }
  /* line 15, ../source/js-breakpoints/_breakpoints.scss */
  .aside .js-breakpoints-x-large-aside {
    position: absolute;
  }
}
@media (min-width: 1201px) and (max-width: 99999px) {
  /* line 9, ../source/js-breakpoints/_breakpoints.scss */
  .aside:after {
    content: "xx-large-aside";
    display: none;
  }
  /* line 15, ../source/js-breakpoints/_breakpoints.scss */
  .aside .js-breakpoints-xx-large-aside {
    position: absolute;
  }
}
/* line 5, _demo-styles.scss */
.aside.x-small-aside {
  background-color: #2c3ab8;
}
/* line 5, _demo-styles.scss */
.aside.small-aside {
  background-color: #cf3858;
}
/* line 5, _demo-styles.scss */
.aside.medium-aside {
  background-color: #46bbd7;
}
/* line 5, _demo-styles.scss */
.aside.large-aside {
  background-color: #7ac3fb;
}
/* line 5, _demo-styles.scss */
.aside.x-large-aside {
  background-color: #efc3d5;
}
/* line 5, _demo-styles.scss */
.aside.xx-large-aside {
  background-color: #c8fe6d;
}

/* line 87, _demo-styles.scss */
.article {
  box-sizing: border-box;
  position: absolute;
  top: 10%;
  bottom: 0;
  margin-top: 5%;
  margin-bottom: 5%;
  width: 50%;
  margin-left: 50%;
}
@media (max-width: 800px) {
  /* line 9, ../source/js-breakpoints/_breakpoints.scss */
  .article:after {
    content: "x-small-article";
    display: none;
  }
  /* line 15, ../source/js-breakpoints/_breakpoints.scss */
  .article .js-breakpoints-x-small-article {
    position: absolute;
  }
}
@media (min-width: 801px) and (max-width: 1000px) {
  /* line 9, ../source/js-breakpoints/_breakpoints.scss */
  .article:after {
    content: "small-article";
    display: none;
  }
  /* line 15, ../source/js-breakpoints/_breakpoints.scss */
  .article .js-breakpoints-small-article {
    position: absolute;
  }
}
@media (min-width: 1001px) and (max-width: 1200px) {
  /* line 9, ../source/js-breakpoints/_breakpoints.scss */
  .article:after {
    content: "medium-article";
    display: none;
  }
  /* line 15, ../source/js-breakpoints/_breakpoints.scss */
  .article .js-breakpoints-medium-article {
    position: absolute;
  }
}
@media (min-width: 1201px) and (max-width: 1400px) {
  /* line 9, ../source/js-breakpoints/_breakpoints.scss */
  .article:after {
    content: "large-article";
    display: none;
  }
  /* line 15, ../source/js-breakpoints/_breakpoints.scss */
  .article .js-breakpoints-large-article {
    position: absolute;
  }
}
@media (min-width: 1401px) and (max-width: 1800px) {
  /* line 9, ../source/js-breakpoints/_breakpoints.scss */
  .article:after {
    content: "x-large-article";
    display: none;
  }
  /* line 15, ../source/js-breakpoints/_breakpoints.scss */
  .article .js-breakpoints-x-large-article {
    position: absolute;
  }
}
@media (min-width: 1801px) and (max-width: 99999px) {
  /* line 9, ../source/js-breakpoints/_breakpoints.scss */
  .article:after {
    content: "xx-large-article";
    display: none;
  }
  /* line 15, ../source/js-breakpoints/_breakpoints.scss */
  .article .js-breakpoints-xx-large-article {
    position: absolute;
  }
}
/* line 5, _demo-styles.scss */
.article.x-small-article {
  background-color: #13fa3a;
}
/* line 5, _demo-styles.scss */
.article.small-article {
  background-color: #bbcfed;
}
/* line 5, _demo-styles.scss */
.article.medium-article {
  background-color: #81e821;
}
/* line 5, _demo-styles.scss */
.article.large-article {
  background-color: #e31f91;
}
/* line 5, _demo-styles.scss */
.article.x-large-article {
  background-color: #bcbc8a;
}
/* line 5, _demo-styles.scss */
.article.xx-large-article {
  background-color: #082c6b;
}

/* line 111, _demo-styles.scss */
.debug {
  box-sizing: border-box;
  position: absolute;
  border: 1px solid grey;
  background: lightgrey;
  margin: 10px;
  padding: 10px;
}

/* line 1, ../source/_breakpoint-bridge-init.scss */
head {
  font-family: '"body" "|" "xxxx-small-body" "xxx-small-body" "xx-small-body" "x-small-body" "small-body" "medium-body" "large-body" "x-large-body" "xx-large-body" "||" "header" "|" "x-small-header" "small-header" "medium-header" "large-header" "x-large-header" "xx-large-header" "||" "aside" "|" "x-small-aside" "small-aside" "medium-aside" "large-aside" "x-large-aside" "xx-large-aside" "||" "article" "|" "x-small-article" "small-article" "medium-article" "large-article" "x-large-article" "xx-large-article"';
}
