html {

  height: 100%;
}

body {

  font-family: Helvetica, sans-serif;
  font-weight: bold;
  color: #333333;
  padding: 0;
  margin: 0;
  height: 100%;

  $breakpoint-list:
    "xxxx-small-body"   400px,
     "xxx-small-body"   500px,
      "xx-small-body"   600px,
       "x-small-body"   700px,
         "small-body"   800px,
        "medium-body"   1100px,
         "large-body"   1400px,
       "x-large-body"   1800px,
      "xx-large-body"   99999px
  ;

  @include breakpoint-bridge( $breakpoint-list, 'body' );
  @include set-background-colors( $breakpoint-list );
}

.header {
  box-sizing: border-box;
  position: absolute;
  top: 5%;
  bottom: 80%;
  margin-top: 2.5%;
  margin-bottom: 2.5%;
  width: 100%;
  height: 10%;

  $breakpoint-list:
     "x-small-header"   600px,
       "small-header"   900px,
      "medium-header"   1100px,
       "large-header"   1300px,
     "x-large-header"   1600px,
    "xx-large-header"   99999px
  ;

  @include breakpoint-bridge( $breakpoint-list, 'header' );
  @include set-background-colors( $breakpoint-list );
}

.aside {
  box-sizing: border-box;
  position: absolute;
  top: 10%;
  bottom: 50%;
  margin-top: 5%;
  margin-bottom: 5%;
  width: 50%;

  $breakpoint-list:
     "x-small-aside"   400px,
       "small-aside"   600px,
      "medium-aside"   800px,
       "large-aside"   1000px,
     "x-large-aside"   1200px,
    "xx-large-aside"   99999px
  ;

  @include breakpoint-bridge( $breakpoint-list, 'aside' );
  @include set-background-colors( $breakpoint-list );
}

.article {

  box-sizing: border-box;
  position: absolute;
  top: 10%;
  bottom: 0;
  margin-top: 5%;
  margin-bottom: 5%;
  width: 50%;
  margin-left: 50%;

  $breakpoint-list:
     "x-small-article"   800px,
       "small-article"   1000px,
      "medium-article"   1200px,
       "large-article"   1400px,
     "x-large-article"   1800px,
    "xx-large-article"   99999px
  ;

  @include breakpoint-bridge( $breakpoint-list, 'article' );
  @include set-background-colors( $breakpoint-list );
}

.debug {
  box-sizing: border-box;
  position: absolute;
  border: 1px solid grey;
  background: lightgrey;
  margin: 10px;
  padding: 10px;
}