$breakpoint-list-map: null;

@mixin breakpoint-bridge( $breakpoint-list, $breakpoint-selector ) {

  $breakpoint-list-keys: null;
  $previous-breakpoint: null;

  @each $breakpoint in $breakpoint-list {

    // Index is 1 based.
    $idx: index($breakpoint-list, $breakpoint);
    $key: nth($breakpoint, 1);
    $max: nth($breakpoint, 2);

    // @debug $idx;
    // @debug $key;
    // @debug $max;

    @if $previous-breakpoint != null {
      @media ( min-width: $previous-breakpoint + 1 ) and ( max-width: $max ) {
        @include defineBreakpoint($key);
      }
    } @else {
      @media ( max-width: $max ) {
        @include defineBreakpoint($key);
      }
    }

    $previous-breakpoint: $max;

    // @debug '---';

    $breakpoint-list-keys: append($breakpoint-list-keys, nth($breakpoint, 1));
  }

  @if $breakpoint-list-map != null {
    $breakpoint-list-map: append($breakpoint-list-map, '||');
  }

  $breakpoint-list-map: append($breakpoint-list-map, $breakpoint-selector '|' $breakpoint-list-keys);

}